*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}



:root{
    --pink: #c36c89;
    --white: #fff;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #be748e #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #be748e;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }

body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c36c89' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

}
    
header{
    z-index: 2;
}
.nav-link{
    font-weight: 500; 
    font-size: 20px;
    color: black;
}

.nav-link:hover{
    /* height: auto; */ 
    color: var(--pink);
}


.navbar{
    /* box-shadow: 0 2px 3px -2px rgba(0,0,0, 0.2); */
    height: 60px;
    margin-bottom: 1rem;
    padding-inline: 5rem;
    background-color: rgb(255, 255, 255, 0.8);

}



.wave{
    z-index: -1;
    position: absolute;
    opacity: 100%;
    
}


.carousel-inner{
    border-radius: 10px;

    
}



.card{
    box-shadow: -1px 10px 23px -4px rgba(0,0,0, 0.40);
    margin: 20px;
    cursor: pointer;
    
    
}


.card-button{
    background: #c36c98;
    border: 0;
}
.card-button:hover{
    background: #e084b2;
    border: 0;
    box-shadow: -1px 10px 23px -4px rgba(0,0,0, 0.30);

}










footer a{
    text-decoration: none;
    color: black;
    
}
footer a:hover{
    text-decoration: none;
    color: white;

}

.footer-box{
    background-color: #eb8dac;
}



.gobackup{
    border: 0;
    border-radius: 2rem;
    height: 60px;
    width: 60px;
    background-color: white;
    color: var(--pink);


}

.gobackup:hover{
    
    transform: scale(1.2);
    transition-duration: 300ms;
}

    

@media screen and (max-width: 768px){
    .carousel{
        display: none;
        
    }

    .card{
        width: auto;
    }

    .navbar{
        padding-inline: 0;
        
   }
   .nav-link{
    color: var(--white);
   }

   .navbar-collapse{
    background-color: rgba(195, 108, 137, 0.9);
    z-index: 23428954857348535345;
    width: 100%;
    padding: 20px;
    
   }

}


